<!DOCTYPE html>
<html lang="en">
  
  <head>
      <meta charset="utf-8">
      <title>Vantage 6</title>
      <link href="../static/styles.css" rel="stylesheet">
  </head>

  <body>
      <header><img src="../static/logo3.png"></header>
      <div id="loading"></div>
      <div id="wrapper">
          <div class="main-section" id="welcome">
              <br />
              <span id="introtext">
                  In this demo we will calculate aggregated statistics about a group of participants using Federated Learning. 
                  This means a central node will produce results without disclosing any identifiable information to other involved parties.
                  <br />
                  If everyone is ready to proceed, press the button below!
              </span>
              <br />
              <button class="button-main" id="go-button" onclick="StartDemo();">Go!</button>
          </div>
          <div class="main-section" id="loader">
                <br />  <br />  
            <div class="lds-dual-ring"></div><br /> <br />   
            <span id="waiting-text">Waiting for results</span>
              
              <div class="loading-bar">
                  <span class="loading-bar-span"></span>
              </div>
              <div class="loading-circle loading-circle-left"></div>
              <div class="loading-circle loading-circle-right"></div>
              <!-- <button onclick="LoadedData();">Loaded (hacky way until there's actual data)</button> -->
          </div>
          <div class="main-section" id="results">
              <div id="container">
                  <div class="result">
                      <span class="result-header">The average age is</span>
                      <br />
                      <span id="result-age" class="result-counter">-<span style="font-size:36pt;">years</span></span>
                  </div>
                  <div class="result">
                      <span class="result-header">The average weight is</span>
                      <br />
                      <span id="result-weight" class="result-counter">-<span style="font-size:36pt;">kg</span></span>
                  </div>
              </div>
              <button onclick="BackToStart();">Back to start</button>
          </div>

      </div>
      <footer>Visit us at vantage6.ai</footer>
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
      <!-- <script src="velocity.min.js"></script> -->
      <script src="../static/vantage.js"></script>
  </body>
</html>