<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <title>Vantage 6</title>
      <!-- TODO we needto have these locally -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js  "></script>
      <link href="../static/styles.css" rel="stylesheet">
  </head>

  <body>
      <header><img src="../static/logo3.png"></header>
      <div id="loading"></div>
      <div id="wrapper">
          <div class="main-section" id="welcome">
              <br />
              <span id="introtext">
                  In this demo we will check how many participants fulfill the criteria, without disclosing identifiable information to the involved parties.
                  <br />
                  Set the ranges below and, if everyone is ready to proceed, press 'Go'!
                </span>
                <br/>
                <div class="noui-slider-container">
                    <div class="noui-slider-label">Weight</div>
                    <div class="noui-slider" id="slider-weight"></div>
                </div>
                <div class="noui-slider-container">
                    <div class="noui-slider-label">Age</div>
                    <div class="noui-slider" id="slider-age"></div>
                </div>
              <br />
              <button class="button-main" id="go-button" onclick="StartDemo();">Go!</button>
          </div>
          <div class="main-section" id="loader">
                <br />  <br />
            <div class="lds-dual-ring"></div><br /> <br />
            <span id="waiting-text">Waiting for results</span>

              <div class="loading-bar">
                  <span class="loading-bar-span"></span>
              </div>
              <div class="loading-circle loading-circle-left"></div>
              <div class="loading-circle loading-circle-right"></div>
              <!-- <button onclick="LoadedData();">Loaded (hacky way until there's actual data)</button> -->
          </div>
          <div class="main-section" id="results">
              <div id="container">
                  <div class="result">
                      <span class="result-header">Number of people meeting criteria:</span>
                      <br />
                      <span id="result-count" class="result-counter">-<span style="font-size:36pt;"></span></span>
                  </div>
                  <p>
                      Your filter criteria were:
                  </p>
                  <table>
                    <tr>
                      <td>Weight</td>
                      <td id="td-weight-cell"></td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td id="td-age-cell"></td>
                    </tr>
                  </table>
              </div>
              <button onclick="BackToStart();">Back to start</button>
          </div>

      </div>
      <footer>Visit us at vantage6.ai</footer>
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
      <!-- <script src="velocity.min.js"></script> -->
      <script src="../static/vantage.js"></script>
  </body>
</html>