<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>vantage 6</title>
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <header class="">
            <img height=150 src="../static/logo3.png" />
        </header>
        <div id="wrapper">
            <div class="main-section" id="data-entry">
                <div id="controls">
                    <h1>Weight data station</h1>
                    <div id="datalabel" style="display: none;">weight</div>

                    <div class="container">
                        <label class="noselect" for="data1">Alice:</label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="200" value="60" class="slider" id="data1">
                        </div>
                        <div class="data"><span id="data1-out">-</span> kg</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="container">
                        <label class="noselect" for="data2">Bob:</label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="200" value="60" class="slider" id="data2">
                        </div>
                        <div class="data"><span id="data2-out">-</span> kg</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="container">
                        <label class="noselect" for="data3">Carol:</label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="200" value="60" class="slider" id="data3">
                        </div>
                        <div class="data"><span id="data3-out">-</span> kg</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
      </div>
      <footer class="">Visit us at <strong>vantage6.ai</strong></footer>
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
      <script src="../static/vantage.js"></script>
  </body>
</html>